<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>

<body>
    <form action="/comment/new" for="newComment" method="post">
        <div class="container">
            <h2 class="mb-4">Blog Articles</h2>
            <% comments.forEach(article=>{ %>

                <% }) %>
        </div>
        <input type="text" name="newComment" id="newComment" placeholder="put your comment here" />
        <button type="submit">submit</button>
    </form>
</body>

</html>